<div class="container">
  <h1>Product List</h1>

  
  <input 
      type="text" 
      class="search-box" 
      placeholder="Search..." 
      [(ngModel)]="searchTerm" 
      (input)="onSearch(searchTerm)" />

  
  <ul class="product-list">
    <li *ngFor="let product of filteredProducts" class="product-card">
      <span><strong>{{ product.name }}</strong></span>
      <div class="btn-group">
        <button class="btn-view" (click)="viewProduct(product.id)">View</button>
        <button class="btn-edit" (click)="editProduct(product.id)">Edit</button>
        <button class="btn-delete" (click)="deleteProduct(product.id)">Delete</button>
      </div>
    </li>
  </ul>

  
  <a class="btn-add" routerLink="/inventory/add-product">Add Product</a>
</div>

<app-search-filter></app-search-filter>